@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Ubuntu", sans-serif;
  max-height: 100vh;
}

@layer components {
  .fake-img {
    @apply hidden landscape:block bg-neutral-300 h-full;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
